<!-- Home -->
<section id="home">
    <!-- animated css fadeIn -->
    <div id="home-cover" class="bg-parallax animated fadeIn">

        <div id="home-content-box">

            <div id="home-content-box-inner" class="text-center">
                <div id="home-heading" class="animated zoomIn">
                    <h3>Hello <br>
                        My name is Monica Jay Ochoa!
                    </h3>
                </div>
                
                <div id="home-btn" class="animated zoomIn">
                        <a href="#gallery" class="btn btn-default btn-general btn-white btn-lg" title="View My Work">View My Work</a>  
                </div>
            
            </div>

        </div>

    </div>

</section>



<!-- End Home -->