<!-- Clients -->
<section id="client">
    <div class="content-box">

        <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <h3>Sponsors and Clients</h3>
            <div class="content-title-underline"></div>

        </div>

        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration="1s" data-wow-delay=".5s">
                <div class="col-md-12">
                    <div id="clients-list" class="owl-carousel owl-theme">
                        <div class="client">
                            <img src="assets/img/clients/NBC_logo.png" class="img-responsive" alt="NBC logo">
                            
                        </div>

                        <div class="client">
                                <img src="assets/img/clients/client-1.png" class="img-responsive" alt="client">
                        </div>
                    </div>



                </div>
            </div>

        </div>

    </div>



</section>




<!-- End Clients -->