<footer>

    <div id="contact">

        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="contact-left">
                        <h3>Monica Jay Ochoa</h3>
                        <p>I believe in Lorem ipsum dolor sit amet, consectetur adipisicing elit. Browse the amazing work on my website.</p>
                        
                        <div class="contact-info">
                            <address>
                                <strong>PO Box:</strong><br>
                                <p>123 nothing</p> <br>
                            </address>
                            <div id="phone-fax-email">
                                <p>
                                    <strong><b>Phone:</b></strong><span>55 5555 5555</span> <br>
                                    <strong><b>Fax:</b></strong><span>55 5555 5555</span> <br>
                                    <strong><b>Email:</b></strong><span>email@email.com</span> <br>
                                </p>
                            </div>
                        </div>

                        <div class="social-list">
                                <li><a href="" class="social-icon icon-white"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="" class="social-icon icon-white"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="" class="social-icon icon-white"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="" class="social-icon icon-white"><i class="fa fa-youtube-play"></i></a></li>
                        </div>
                            
                    </div>
                </div>

                <div class="col-md-6">
                    <div id="contact-right">
                        <h3>Contact Me</h3>
                        <form action="#">
                            <input type="text" name="full-name" placeholder="Full Name" class="form-control">
                            <input type="text" name="email" placeholder="Email Address" class="form-control">
                            <textarea name="message" rows="5" name="message" placeholder="Message..." class="form-control"></textarea>

                            <div id="sent-btn">
                                <a class="btn btn-lg btn-general btn-white" href="#" role="button">SEND</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


    </div>



    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div id="footer-copyrights">
                        <p>Copyrights &copy; 2017 2018 All Rights Reserved by Monica Jay Ochoa.</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="footer-menu">
                        <ul>
                            <li><a href="#home">Home</a>/</li>
                            <li><a href="#services">Services</a>/</li>
                            <li><a href="#gallery">Gallery</a>/</li>
                            <li><a href="#stats">Stats</a>/</li>     
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>


</footer>