<!-- Gallery -->
<section id="gallery">
    <div class="content-box">
        <div class="content-title wow animated fadeInDown" data-wow-duration="1s" data-wow-delay=".5">
            <h3>My Gallery</h3>
            <div class="content-title-underline"></div>
        </div>
    </div>


    <div class="container-fluid">
        <div class="row no-gutters wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            
            <div class="col-md-3">
                <div class="img-wrapper">
                    <a href="assets/img/work/work-1.jpg" title="Work Description Goes Here">
                        <img src="assets/img/work/work-1.jpg" class="img-responsive" alt="Work">
                    </a>
                </div>
            </div>

            <div class="col-md-3">
                    <div class="img-wrapper">
                            <a href="assets/img/work/work-2.jpg" title="Work Description Goes Here">
                                <img src="assets/img/work/work-2.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
            </div>

            <div class="col-md-3">
                    <div class="img-wrapper">
                            <a href="assets/img/work/work-3.jpg" title="Work Description Goes Here">
                                <img src="assets/img/work/work-3.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
            </div>

            <div class="col-md-3">
                    <div class="img-wrapper">
                            <a href="assets/img/work/work-4.jpg" title="Work Description Goes Here">
                                <img src="assets/img/work/work-4.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
            </div>

            <div class="col-md-3">
                    <div class="img-wrapper">
                            <a href="assets/img/work/work-5.jpg" title="Work Description Goes Here">
                                <img src="assets/img/work/work-5.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
            </div>
            
            <div class="col-md-3">
                    <div class="img-wrapper">
                            <a href="assets/img/work/work-6.jpg" title="Work Description Goes Here">
                                <img src="assets/img/work/work-6.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
            </div>
            
            <div class="col-md-3">
                    <div class="img-wrapper">
                            <a href="assets/img/work/work-7.jpg" title="Work Description Goes Here">
                                <img src="assets/img/work/work-7.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
            </div>
            <div class="col-md-3">
                    <div class="img-wrapper">
                            <a href="assets/img/work/work-8.jpg" title="Work Description Goes Here">
                                <img src="assets/img/work/work-8.jpg" class="img-responsive" alt="Work">
                            </a>
                        </div>
            </div>
        </div>
    </div>
</section>