<section id="pricing">

    <div class="content-box">
        <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <h3>Pricing</h3>
            <div class="content-title-underline"></div>
        </div>

        <div class="container">
            <div class="row">

                <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                    <div class="pricing-box text-center">
                        <h4 class="pricing-title">Basic</h4>
                        <h3 class="pricing-value">49<sup>$</sup></h3>
                        <ul class="pricing-spec">
                            <li>
                                <p>50 EMAILS</p>
                            </li>
                            <li>
                                <p>5GB DISK SPACE</p>
                            </li>
                            <li>
                                <p>5GB BANDWIDTH</p>
                            </li>
                            <li>
                                <p>UNLIMITED DOMAINS</p>
                            </li>
                        </ul>
                        <div class="pricing-btn">
                            <a href="#" class="btn btn-lg btn-general btn-blue" role="button">Purchase</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 wow bounceInUp" data-wow-duration="1s" data-wow-delay=".5s">
                        <div class="pricing-box-lg text-center">
                            <h4 class="pricing-title">Enterprise</h4>
                            <h3 class="pricing-value">89<sup>$</sup></h3>
                            <ul class="pricing-spec">
                                <li>
                                    <p>5000 EMAILS</p>
                                </li>
                                <li>
                                    <p>25GB DISK SPACE</p>
                                </li>
                                <li>
                                    <p>25GB BANDWIDTH</p>
                                </li>
                                <li>
                                    <p>UNLIMITED DOMAINS</p>
                                </li>
                            </ul>
                            <div class="pricing-btn">
                                <a href="#" class="btn btn-lg btn-general btn-white" role="button">Purchase</a>
                            </div>
                        </div>
                    </div>





                    <div class="col-md-4 wow zoomIn" data-wow-duration="1s" data-wow-delay=".5s">
                            <div class="pricing-box text-center">
                                <h4 class="pricing-title">Basic</h4>
                                <h3 class="pricing-value">69<sup>$</sup></h3>
                                <ul class="pricing-spec">
                                    <li>
                                        <p>1500 EMAILS</p>
                                    </li>
                                    <li>
                                        <p>15GB DISK SPACE</p>
                                    </li>
                                    <li>
                                        <p>15GB BANDWIDTH</p>
                                    </li>
                                    <li>
                                        <p>UNLIMITED DOMAINS</p>
                                    </li>
                                </ul>
                                <div class="pricing-btn">
                                    <a href="#" class="btn btn-lg btn-general btn-blue" role="button">Purchase</a>
                                </div>
                            </div>
                        </div>
            </div>
        </div>
    </div>






</section>