<section id="stats">

    <div id="stats-cover">

        <div class="content-box">

            <div class="content-title wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5">
                <h3>Never Stop Improving</h3>
                <div class="content-title-underline"></div>
            </div>

            <div class="container">
                <div class="row text-center wow bounceInLeft"  data-wow-duration="1s" data-wow-delay=".5">
                    <div class="col-md-3">
                        <div class="stats-item">
                            <i class="fa fa-cloud-download fa-5x"></i>
                            <h2><span class="counter">1590</span><span>+</span></h2>
                            <p>Downloads</p>
                        </div>
                    </div>
                    <div class="col-md-3">
                            <div class="stats-item">
                                <i class="fa fa-star-o fa-5x"></i>
                                <h2><span class="counter">3500</span><span>+</span></h2>
                                <p>Awards</p>
                            </div>
                    </div>

                    <div class="col-md-3">
                        <div class="stats-item">
                            <i class="fa fa-heart-o fa-5x"></i>
                            <h2><span class="counter">1199</span><span>+</span></h2>
                            <p>Likes</p>
                        </div>
                    </div>

                    <div class="col-md-3">
                            <div class="stats-item">
                                <i class="fa fa-check fa-5x"></i>
                                <h2><span class="counter">2200</span><span>+</span></h2>
                                <p>Recommended</p>
                            </div>
                        </div>
                </div>
            </div>



        </div>





    </div>




</section>