<section id="testimonials">
    <div id="testimonials-cover" class="bg-parallax">
        
    <div class="content-box">

        <div class="content-title content-title-white wow fadeInDown" data-wow-duration="1s" data-wow-delay=".5s">
            <h3>What Customers Say</h3>
            <div class="content-title-underline"></div>

        </div>



        <div class="container">
            <div class="row wow fadeInUp" data-wow-duration"1s" data-wow-delay=".5s">
                <div class="col-md-12">



                    <div id="customers-testimonials" class="text-center owl-carousel owl-theme">
                        <div class="testimonial">
                            <img src="assets/img/el_que_no_corre_vuela.jpg" clas="img-responsive img-circle" alt="testimonial">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt in et modi necessitatibus dolor repellat veritatis dicta? Ratione cum non impedit, quibusdam ad quae atque maiores eum architecto quia libero?</p>
                            </blockquote>

                            <div class="testimonial-author">
                                <p>
                                    <strong>Daniel Watrous</strong>
                                    <span>CEO & Founder - Google</span>
                                </p>
                            </div>
                        </div>


                        <div class="testimonial">
                            <img src="assets/img/el_que_no_corre_vuela.jpg" clas="img-responsive img-circle" alt="testimonial">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt in et modi necessitatibus dolor repellat veritatis dicta? Ratione cum non impedit, quibusdam ad quae atque maiores eum architecto quia libero?</p>
                            </blockquote>

                            <div class="testimonial-author">
                                <p>
                                    <strong>Daniel Watrous</strong>
                                    <span>CEO & Founder - Google</span>
                                </p>
                            </div>
                        </div>


                        <div class="testimonial">
                            <img src="assets/img/el_que_no_corre_vuela.jpg" clas="img-responsive img-circle" alt="testimonial">
                            <blockquote>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt in et modi necessitatibus dolor repellat veritatis dicta? Ratione cum non impedit, quibusdam ad quae atque maiores eum architecto quia libero?</p>
                            </blockquote>

                            <div class="testimonial-author">
                                <p>
                                    <strong>Daniel Watrous</strong>
                                    <span>CEO & Founder - Google</span>
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

</div>

</section>